[title*="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {
   display: hidden;
   visibility: hidden;
}
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* for background image  */

.bgimg {
    background: url(../img/background.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Share Tech Mono";
}

.bgimg2 {
    background: url(../img/secondpage.jpg);
    height: auto;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    font-family: "Share Tech Mono";
}

.bgimg3 {
    background: url(../img/stonebg.jpg);
    height: auto;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    font-family: "Share Tech Mono";
}

.bgimg4 {
    background: url(../img/baloonbg.jpg);
    height: auto;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    font-family: "Share Tech Mono";
}

.bgimg5 {
    background: url(../img/romanticbg.jpg);
    height: auto;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    font-family: "Share Tech Mono";
}

.bgimg6 {
    background: url(../img/bookbg.jpg);
    height: auto;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    font-family: "Share Tech Mono";
}

.bgimg7 {
    background: url(https://i.pinimg.com/originals/ec/80/82/ec8082f239fe756aefca9a0bab3602e0.jpg);
    height: auto;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    font-family: "Share Tech Mono";
}


/* library section */

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: inherit;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}


/* library section */


/* first section */

.fs {
    margin-top: 100px;
}


/* for center the page */

.maheimg {
    /* height: 300px; */
    /* width: 500px; */
    /* border: 2px solid black; */
    background: url(../img/mahendra.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* box-shadow: 0px 1px 20px 1px #adeffe; */
    border-radius: 15px;
    /* padding: 20px; */
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 28px;
}


/* to background blue */

.blur {
    /* height: 100%;
    width: 100%; */
    background: #00000096;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 1px 20px 1px #adeffe;
}


/* text formating */

.text-white {
    color: #fff;
}


/* adminhome styles */

.navbar-default {
    background-color: #0000005c;
    border-color: #e7e7e700;
}

a.navbar-brand {
    color: #ffffff !important;
    font-size: 20px;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #04beff;
}

.navbar-nav>li>a.active {
    color: #04beff;
}


/* ADMIN PAGE EVENT REGISTRATION  */

.box {
    margin-top: 100px;
}

label.reglabel {
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

p.view-desc {
    margin-left: 30px;
}

h4.view-desc-heading {
    font-weight: bold;
}


/* view qs */

.card {
    min-height: 60px;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 4px #000;
    padding: 10px;
}


/* button */

.btn-delete {
    color: #ffffdf;
    background-color: #00000000;
    border-color: #fff;
}

.btn-edit {
    color: #fff;
    background-color: #00000000;
    border-color: #fff;
}

.blur-box {
    background: #0000008f;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.blur-box-non-rounded {
    background: #0000008f;
    color: #fff;
    padding: 20px;
    /* border-radius: 15px; */
}

.blur-box2 {
    background: #000000ad;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.event-title-student {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

.activestar {
    color: yellow;
}

rect {
    fill: #ffffff3f;
}

text {
    /* color: #fff; */
    fill: #000;
}


/* bootstrap oveerwritting */

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #0000005e;
    border: 1px solid #ddd;
}


/* library home design */

.nocolor {
    background: none;
    color: white;
}

.prekey {
    background: none;
    color: rgba(138, 137, 137, 0.61);
    border: none;
}

.bkeytitle {
    text-decoration: underline;
    text-decoration-color: #04beff;
}


/* view page */

.table-noborder>tbody>tr>td,
.table-noborder>tbody>tr>th {
    border: none;
}

.text-black {
    color: #000;
}


/* view page */

.border-box {
    /* background: red; */
    border-left: 2px solid rebeccapurple;
    padding: 5px;
}

.border-box2 {
    /* background: red; */
    border-left: 2px solid #ce93d8;
    padding: 5px;
    margin-left: 5px;
}

.comment_name {
    font-family: cursive;
}

.comment_time {
    font-size: 10px;
}

.comment-box {
    max-height: 500px;
    overflow: auto;
}


/* student home post design */

.outerbox {
    /* background: #d1c4e9; */
    color: #fff;
    border: 5px solid #ffffff6b;
    border-radius: 10px;
    box-shadow: 0px 2px 20px #0088ff;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

.border-box3 {
    /* background: red; */
    border-left: 2px solid #000;
    /* font-weight: bold; */
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.imgsec {
    margin-top: 20px;
}

.posttitle {
    font-weight: bold;
    /* font-family: 'Share Tech Mono'; */
}

.postdescription {
    text-indent: 20px;
    text-align: justify;
}

.techmono {
    font-family: 'Share Tech Mono';
}

.scroll {
    height: 200px;
}

.img-thumbnail {
    color: #000;
}


/* MESSGE CONTAINER */

#messagecontainer {
    max-height: 500px;
    overflow-y: scroll;
}


/* scroll bar */


/* width */

::-webkit-scrollbar {
    width: 2px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #04beff;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}