body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.text-justify {
    text-align: justify;
}

.primary-color {
    background: #EFD9CE;
}

.paragraph-indent {
    text-indent: 15px;
}

.paragraph-indent::first-letter {
    /* font-size: 200%; */
    font-weight: bold;
    color: #8A2BE2;
}

.primary_heading {
    font-family: 'Baloo Thambi';
    /* font-size: 22px; */
}

.primary_paragraph {
    font-family: 'ABeeZee';
    /* font-size: 22px; */
}

.secondary_heading {
    font-family: 'Allerta';
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}


/* materialize overwirtten */

.carousel .carousel-item>img {
    width: 100%;
    border-radius: 10px;
    /* border: 5px solid white; */
    box-shadow: 0px 0px 20px 0px #0000008c;
}

nav {
    background: #ffffff63;
    font-weight: bold
}

nav .brand-logo {
    color: #000;
    margin-left: 20px;
}

nav ul a {
    color: #000;
}

.sidenav-overlay {
    background-color: #00000000;
}

nav a {
    color: #000;
    font-weight: bold;
}

.vertialign-wrapper {
    margin-top: 30%;
}


/* events page */

.fullpage {
    height: 100%;
}

.background1 {
    background: url(../img/paper-presentation.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.background2 {
    background: url(../img/debug.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.background3 {
    background: url(../img/kviz.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.background4 {
    background: url(../img/admad.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.background5 {
    background: url(../img/fungame.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.events_primary_heading {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 6rem;
    text-transform: uppercase;
}

.white-bg {
    background: #fff;
    /* z-index: 999; */
    /* height: 91.6%; */
    height: 100%;
}

.btn-event {
    font-weight: bold;
    width: 50%;
}

.events_heading_centerized {
    margin-top: 14%;
}

.admin_login_bg {
    background: #fff;
    /* background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); */
    /* background: linear-gradient(to right, #6dd5ed, #2193b0); */
    height: 100%;
}

.box {
    height: auto;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: #000 0px 0px 4px 1px;
    border-radius: 15px;
}

.usernamee {
    padding: 2px 30px;
    border: 1px solid #26a69a;
    border-radius: 15px;
    box-shadow: 0px 0px 2px #26a69a;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (max-width: 600px),
only screen and (max-device-width: 641px) and (orientation: landscape) {
    .events_primary_heading {
        font-size: 4rem;
    }
    .events_heading_centerized {
        margin-top: 40%;
    }
}


/* profile card */