/*************
  Materialize theme (http://materializecss.com/)
 *************/


/* jQuery materialize Theme */

.tablesorter-materialize {
    width: 110%;
}

.tablesorter-materialize thead th,
.tablesorter-materialize thead td,
.tablesorter-materialize tfoot th,
.tablesorter-materialize tfoot td {
    font: 14px/20px Arial, Sans-serif;
    font-weight: bold;
    padding: 4px;
    margin: 0 0 18px;
    background-color: #eee;
}

.tablesorter-materialize .tablesorter-header {
    cursor: pointer;
}

.tablesorter-materialize .sorter-false {
    cursor: default;
}

.tablesorter-materialize .tablesorter-header-inner {
    position: relative;
    padding: 4px 18px 4px 4px;
}


/* sort icons */

.tablesorter-materialize thead .tablesorter-header {
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
}


/* black unsorted icon */

.tablesorter-materialize thead .tablesorter-headerUnSorted {
    /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 8 1 8 8 0zM15 9 1 9 8 16z" fill="#222"/></svg> */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgOCAxIDggOCAwek0xNSA5IDEgOSA4IDE2eiIgZmlsbD0iIzIyMiIvPjwvc3ZnPg==);
}


/* black asc icon */

.tablesorter-materialize thead .tablesorter-headerAsc {
    /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 11 1 11 8 3z" fill="#222"/></svg> */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgMTEgMSAxMSA4IDN6IiBmaWxsPSIjMjIyIi8+PC9zdmc+);
}


/* black desc icon */

.tablesorter-materialize thead .tablesorter-headerDesc {
    /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 6 1 6 8 13z" fill="#222"/></svg> */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgNiAxIDYgOCAxM3oiIGZpbGw9IiMyMjIiLz48L3N2Zz4=);
}


/* white unsorted icon */

.tablesorter-materialize-dark thead .tablesorter-headerUnSorted {
    /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 8 1 8 8 0zM15 9 1 9 8 16z" fill="#fff"/></svg> */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgOCAxIDggOCAwek0xNSA5IDEgOSA4IDE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}


/* white asc icon */

.tablesorter-materialize-dark thead .tablesorter-headerAsc {
    /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 11 1 11 8 3z" fill="#fff"/></svg> */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgMTEgMSAxMSA4IDN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}


/* white desc icon */

.tablesorter-materialize-dark thead .tablesorter-headerDesc {
    /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 6 1 6 8 13z" fill="#fff"/></svg> */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgNiAxIDYgOCAxM3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
}


/* since materialize (table-striped) uses nth-child(), we just use this to add a zebra stripe color */

.tablesorter-materialize>tbody>tr.odd>td,
.tablesorter-materialize>tbody>tr.tablesorter-hasChildRow.odd:hover~tr.tablesorter-hasChildRow.odd~.tablesorter-childRow.odd>td {
    background-color: #f9f9f9;
}

.tablesorter-materialize>tbody>tr.hover>td,
.tablesorter-materialize>tbody>tr.odd:hover>td,
.tablesorter-materialize>tbody>tr.even:hover>td,
.tablesorter-materialize>tbody>tr.tablesorter-hasChildRow.odd:hover~.tablesorter-childRow.odd>td,
.tablesorter-materialize>tbody>tr.tablesorter-hasChildRow.even:hover~.tablesorter-childRow.even>td {
    background-color: #f5f5f5;
}

.tablesorter-materialize>tbody>tr.even>td,
.tablesorter-materialize>tbody>tr.tablesorter-hasChildRow.even:hover~tr.tablesorter-hasChildRow.even~.tablesorter-childRow.even>td {
    background-color: #fff;
}


/* processing icon */

.tablesorter-materialize .tablesorter-processing {
    background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=');
    background-position: center center !important;
    background-repeat: no-repeat !important;
}


/* caption */

.tablesorter-materialize>.caption {
    background-color: #fff;
}


/* filter widget */

.tablesorter-materialize .tablesorter-filter-row input.tablesorter-filter,
.tablesorter-materialize .tablesorter-filter-row select.tablesorter-filter {
    width: 98%;
    margin: 0;
    padding: 4px 6px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}

.tablesorter-materialize .tablesorter-filter-row .tablesorter-filter.disabled {
    background-color: #eee;
    color: #555;
    cursor: not-allowed;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-sizing: border-box;
    transition: height 0.1s ease;
}

.tablesorter-materialize .tablesorter-filter-row {
    background-color: #efefef;
}

.tablesorter-materialize .tablesorter-filter-row td {
    background-color: #efefef;
    line-height: normal;
    text-align: center;
    padding: 4px 6px;
    vertical-align: middle;
    -webkit-transition: line-height 0.1s ease;
    -moz-transition: line-height 0.1s ease;
    -o-transition: line-height 0.1s ease;
    transition: line-height 0.1s ease;
}


/* hidden filter row */

.tablesorter-materialize .tablesorter-filter-row.hideme td {
    padding: 2px;
    /* change this to modify the thickness of the closed border row */
    margin: 0;
    line-height: 0;
}

.tablesorter-materialize .tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    /* don't use visibility: hidden because it disables tabbing */
    opacity: 0;
    filter: alpha(opacity=0);
}


/* rows hidden by filtering (needed for child rows) */

.tablesorter .filtered {
    display: none;
}


/* pager plugin */

.tablesorter-materialize .tablesorter-pager select {
    padding: 4px 6px;
    display: inline-block;
    width: auto;
}

.tablesorter-materialize .tablesorter-pager .pagedisplay {
    border: 0;
}


/* ajax error row */

.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99;
}